<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Datastore and Firebase Auth Example</h1>

  <form action="/welcome" method="post">
	ID:    <input type="text" name="id"><br>
	FName: <input type="text" name="fname"><br>
	LName: <input type="text" name="lname"><br>
	Add:   <input type="text" name="add"><br>
	City:  <input type="text" name="city"><br>
    <input type="submit" value="Sign In">
   </form>

</body>
</html>
